# Node.js
node_modules/

# IDE
.idea/
*.iml
.vscode/

# Temporary Files
!Data/GenericChatTree.txt
!Data/GenericCardTree.txt

# Client Data
logs/
b*/
*.java
*.class
*.jobf
*.txt
*.version
*.lst
*.data
*.properties
*.jar
*.log
*.part
