* {
    margin: 0;
    padding: 0;
    cursor: default;
    box-sizing: border-box;
    font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizeLegibility;
}

:not(input, textarea)::selection {
    user-select: none;
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Buttons */
button {
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer !important;
    background: rgba(255, 255, 255, 0.65);
}

button * {
    cursor: pointer !important;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
}

button[data-active="true"] {
    color: #FFFFFF;
    background: rgba(0, 0, 90, 0.4);
}

/* Header */
header {
    background: #2C3E50;
    color: #FFFFFF;
    padding: 1.0rem 1.5rem;
}

header h1 {

}

header h1 i {
    color: #d8d8d8;
}

header h1 span {
    position: relative;
}

header h1 span::before {
    position: absolute;
    content: "\F113";
    color: #8958DF;
    left: -21px;
    top: 50%;
    transform: translateY(calc(-50% - -1px));
    font-family: bootstrap-icons;
    font-size: 25px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

/* Main :: Navigation */
nav {
    background: #34495E;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

nav label {
    padding: 0.3rem 1rem;
    background: #2c3e50;
    color: white;
    cursor: pointer;
    user-select: none;
}

nav label:hover {
    background: #1a252f;
}

nav center {
    flex: 1 0 auto;
    text-align: center;
    align-content: center;
}

nav aside {
    flex: 0 0 auto;
    text-align: end;
    align-content: center;
}

input[type="radio"] {
    display: none;
}

#logs:checked ~ nav label[for="logs"],
#tree:checked ~ nav label[for="tree"],
#requests:checked ~ nav label[for="requests"],
#plugins:checked ~ nav label[for="plugins"],
#persistence:checked ~ nav label[for="persistence"],
#definition:checked ~ nav label[for="definition"],
#raw:checked ~ nav label[for="raw"],
#hex:checked ~ nav label[for="hex"] {
    background: #FFFFFF;
    color: #444444;
}

/* Main :: Content */
section {
    flex: 1;
    display: none;
    overflow-y: auto;
    flex-direction: column;
}

section h2 {
    align-items: center;
    padding-top: 16px;
    padding-bottom: 0;
    padding-left: 10px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.44);
}

#logs:checked ~ section[data-name="logs"],
#tree:checked ~ section[data-name="tree"],
#requests:checked ~ section[data-name="requests"],
#plugins:checked ~ section[data-name="plugins"],
#persistence:checked ~ section[data-name="persistence"],
#definition:checked ~ section[data-name="definition"],
#raw:checked ~ section[data-name="raw"],
#hex:checked ~ section[data-name="hex"] {
    display: flex;
    flex-direction: column;
}

/* Logs */
ui-list {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

ui-list ui-header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.25rem 0;
    cursor: default;
    border-bottom: 1px solid #ccc;
    flex: 0 0 auto;
    background: #FFFFFF;
    font-weight: bold;
}

ui-list ui-header > div {
    padding-left: 7px;
}

ui-list ui-header aside {
    text-align: right;
    font-weight: normal;
    padding-right: 7px;
    font-size: 0.8rem;
}

ui-list ui-data {
    flex: 1;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

ui-list ui-data ui-entry {
    padding: 0.25rem 0;
    position: relative;
    border-bottom: 1px solid #ccc;
    display: grid;
    font-size: 0.8rem;
    cursor: pointer !important;
}

ui-list ui-data ui-entry[data-show="false"] {
    display: none;
}

ui-list ui-data ui-entry * {
    cursor: pointer !important;
}

ui-list ui-data ui-entry[data-type="INPUT"] {
    background-color: rgba(226, 255, 226, 0.65);
}

ui-list ui-data ui-entry[data-type="OUTPUT"] {
    background-color: rgba(255, 176, 176, 0.65);
}

ui-list ui-data ui-entry:hover {
    background-color: rgba(255, 184, 52, 0.65);
}

ui-list ui-data ui-entry i {
    display: inline-block;
    padding: 0 10px;
}

ui-list ui-data ui-entry > div {
    padding-left: 7px;
}

ui-list ui-data ui-entry > div small {
    color: #B6B7AB;
}

ui-list ui-data ui-entry::before {
    content: "";
    display: inline-block;
    font-family: bootstrap-icons;
    position: absolute;
    top: 5px;
    left: 6px;
}

ui-list ui-data ui-entry[data-filter] {
    padding-left: 18px;
}

ui-list ui-data ui-entry[data-filter="chat"]::before {
    content: "\f267";
    color: #419DFF;
}

ui-list ui-data ui-entry[data-filter="card"]::before {
    content: "\f5a0";
    color: #17B94A;
}


ui-list ui-data ui-entry div:first-child::before {
    content: "";
    font-family: bootstrap-icons;
    padding-right: 7px;
}

ui-list ui-data ui-entry[data-type="INPUT"] div:first-child::before {
    content: "\F126";
    color: #005e00;
}

ui-list ui-data ui-entry[data-type="OUTPUT"] div:first-child::before {
    content: "\F147";
    color: #9c0000;
}

/* List */
ui-list {
    flex: 1;
    margin: 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

/* Container */
ui-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

ui-char {
    background: #e7e7e7;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
}

ui-scroll {
    flex: 1 1 auto;
    overflow: auto;
    padding: 20px;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    padding: 1rem;
    text-align: center;
}

